/* Resets */

body {
  margin: 0;
  padding: 0;
  background-color: gray;
}

table, td {
  border-collapse: collapse;
}

p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  border: 0 none;
}

hr {
  border: none;
}


/* General Colors */
.white {
  color: #ffffff;
}

.black {
  color: #000000;
}

/* General Sizes */
h1 {
  font-size: 44px;
  line-height: 60px;
}

h2 {
  font-size: 28px;
  line-height: 40px;
}

h3 {
  font-size: 20px;
  line-height: 30px;
}

h6 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

p {
  font-size: 14px;
  line-height: 20px;
}

/* General Fonts */
.title-font {
  font-family: Impact, Helvetica, Arial, sans-serif;
  letter-spacing: 5px;
  font-weight: 100;
}

.base-font {
  font-family: Helvetica, Arial, sans-serif;
}

.poppins-font {
  font-family: 'Poppins';
}

/* ---------- Starbucks Palette ---------- */

/* used as headline / body text & SBS bgs */
.sb-deep-green {
  color: #1e3932;
}

/* used in SBS bgs */
.sb-light-green {
  color: #d4e9e2;
}

/* ---------- AMAT Palette ---------- */
.amat-white {
  color: #fff;
}

.amat-blue {
  background-color: #347da2;
}

.amat-brown {
  color: #DB9946;
}

/* ---------- World of Warcraft Palette ---------- */
.wow-blue {
  color: #00c0ff;
}
 
.wow-gray {
  color: #cccccc;
}


/* General Styles */
.container {
  margin: 50px auto;
  border: 1px solid white;
  background: #ffffff;
  text-align: center;
}

.spacer {
  font-size: 40px;
  line-height: 40px;
  height: 40px;
}

/* Hero Styles */
.hero {
  background-color: #347da2;
  padding-bottom: 20px;
}

.hero .title {
  padding: 25px 50px;
  text-align: center;
}

.hero .headline {
  padding: 25px 0 10px;
}

.hero .social-container .icon p a {
  text-decoration: none;
  color: #ffffff;
}

.hero .social-container .icon {
  width: 200px;
}

.hero .social-container .icon a svg {
  color: #d4e9e2;
}

/* About Module Styles */

.about-mod {
  padding: 0 25px;
  text-align: left;
}

.about-mod .divider {
  height: 50px;
  margin: 0;
  border-left: 2px solid black;
}

.about-mod .about-icon {
  width: 30px;
  padding-right: 20px;
}

.about-mod h2 {
  text-align: left;
  padding-left: 10px;
}

.about-mod p {
  padding: 10px 10px 0;
}

/* ICON BANNER STYLES */

.icon-banner table { 
  text-align: center;
  /* background-color: #DBE6FD; */
}

.icon-banner .icon svg {
  width: 60px;
  height: 60px;
}

.icon-banner .icon {
  padding: 20px;
}

/* Projects Styles */

.projects-mod {
  padding: 0 25px;
  text-align: left;
}

.projects-mod .divider {
  height: 50px;
  margin: 0;
  border-left: 2px solid black;
}

.projects-mod .project-icon {
  width: 30px !important;
  padding-right: 20px;
}

.projects-mod h2 {
  text-align: left;
  padding-left: 10px;
}

.projects-mod p {
  padding: 10px;
}

/* AMAT Module Styles */
.amat-mod {
  padding: 0 25px;
  background-color: #ffffff;
}

.amat-mod table {
  background-color: #F2F1F6;
}

.amat-mod .experience-banner .headline {
  background-image: url("https://www.appliedmaterials.com/files/styles/landing_hero/public/IR-Banner-3200x1000-A.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 30px 50px;
  text-align: left;
  background-position: left;
}

.amat-mod .experience-banner {
  padding-bottom: 10px;
}

.amat-mod .experience-banner h3 {
  margin: 5px 0;
}
 
.amat-mod .experience-banner .divider {
  width: 400px;
  margin: 0;
  color: #d4e9e2;
  border-top: 4px solid #d4e9e2;
}

.amat-mod .experience-content {
  text-align: left;
  padding-bottom: 20px;
}

.amat-mod .experience-content .content-wrapper {
  padding: 25px 0;
}
 
.amat-mod .experience-content .text-content {
  padding: 0 20px;
}

/* Starbucks Module Styles */

.starbucks-mod {
  padding: 0 25px;
  background-color: #ffffff;
}

.starbucks-mod table {
  background-color:  #d4e9e2;
}

.starbucks-mod .experience-banner .headline {
  background-image: url("https://www.nestlecoffeepartnerssl.com/media/wysiwyg/public/starbucks/WPS_Portal_Desktop_Starbucks1Brand.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  padding: 30px 50px;
  text-align: left;
}

.starbucks-mod .experience-banner {
  padding-bottom: 10px;
}

.starbucks-mod .experience-banner h3 {
  margin: 5px 0;
}
 
.starbucks-mod .experience-banner .divider {
  width: 400px;
  margin: 0;
  color: #d4e9e2;
  border-top: 4px solid #d4e9e2;
}

.starbucks-mod .experience-content {
  text-align: left;
  padding-bottom: 20px;
}

.starbucks-mod .experience-content .content-wrapper {
  padding: 25px 0;
}
 
.starbucks-mod .experience-content .text-content {
  padding: 0 20px;
}

.starbucks-mod .experience-content .image a img {
  border-radius: 200px;
}
 
/* School Styles */
.tile-container h2, h3, p {
  color: #221D07;
}

.tile-1 table, .tile-2 table {
  background-color: #E9E3D0;
  border: 2px solid #E9EEEC;
}

.tile-container h2 {
  font-family: 'Roboto Condensed';
  font-size: 22px; 
  line-height: 34px;
}

.tile-container h3 {
  font-family: 'Poppins';
  font-size: 14px;
  font-weight: 400;
}

.tile-container p {
  font-size: 14px;
  font-family: 'Poppins';
}

.tile-container {
  background-image: url("https://cdn.worktechacademy.com/uploads/2020/04/Home-Landing-scaled.jpeg");
  background-size: 100%;
  background-repeat: no-repeat;
}

.tile-container .tile-1 {
  padding-top: 20px;
}

.tile-container .tile-1 table, .tile-container .tile-2 table  {
  height: 200px;
  width: 400px; 
}

.tile-container .tile-1 p, .tile-container .tile-2 p {
  padding: 13px 10px 23px;
} 

.tile-container .tile-1 h2, .tile-container .tile-2 h2 {
  padding-top: 10px;
} 

.tile-container .text {
  padding: 0 15px;
} 

.tile-container .tile-2 {
  padding-bottom: 20px;  
}
 
/* Footer Styles */
.footer {
  background-color: #347da2;
}

.footer .divider-1 {
  width: 600px;
  border-top: 3px solid #d4e9e2;
}

.footer .divider-2 {
  width: 400px;
  border-top: 2px solid #d4e9e2;
}

.footer .divider-3 {
  width: 200px;
  border-top: 1px solid #d4e9e2;
}